.App {
  display: flex;
  gap: 2em;
  margin: 2em auto;
  justify-content: center;
}

.Card-mvv {
    max-width: 200px;
    padding: 1.5em 1.3em;
    border-radius: 10px;
    background-color: whitesmoke;
    color: black;
    text-align: center;
  }
  
  .Card-mvv__icon {
    height: 30px;
    margin: 0 auto;
  }
  
  .Card-mvv__titulo {
    margin: 0;
  }
  
  .Card-mvv__texto {
    margin-top: 1em;
  }