@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  /* Colors */
  --green: #83E356;
  --blue-light: #297FDB;
  --blue-dark: #061380;
  --black: #1b1b1b;

  /* Typhography */
  --font-main: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    font-family: var(--font-main);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

